config.php
assets
modules/*
!modules/now_playing
!modules/logger
!modules/tutorial
.*.swp
.*.swo
.well-known
tools/stream/transcode.log
tools/subsonic/*.json
**/.sass-cache
extras/getid3/demos/demo.browse.php
extras/getid3/demos/demo.basic.php
extras/getid3/demos/demo.browse.php
extras/getid3/demos/demo.basic.php
