.vscode
config.php
/assets/*
!/assets/uploads
/assets/uploads/*
!/assets/.keep
!/assets/uploads/.keep
modules/*
!modules/now_playing
!modules/logger
!modules/tutorial
.*.swp
.*.swo
.well-known
tools/stream/transcode.log
tools/subsonic/*.json
**/.sass-cache
phpmyadmin
vendor
node_modules
package-lock.json
.php-cs-fixer.cache
