<?xml version="1.0"?>

<ruleset name="OpenBroadcaster Server">

	<file>classes</file>
	<file>controllers</file>
	<file>models</file>
	<file>updates</file>
	<file>welcome</file>
	<file>api.php</file>
	<file>components.php</file>
	<file>config.sample.php</file>
	<file>index.php</file>
	<file>remote.php</file>
	<file>strings.php</file>
	<file>tts.php</file>
	<file>upload.php</file>
	<file>tools/cli</file>

	<arg value="nps"/>

	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<rule ref="PSR12">
		<exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace" />
		<exclude name="PSR1.Methods.CamelCapsMethodName" />
	</rule>

	<rule ref="PSR1.Classes.ClassDeclaration">
		<exclude-pattern>*/updates/updates\.php$</exclude-pattern>
		<exclude-pattern>*/classes/core/obfcallbacks\.php$</exclude-pattern>
	</rule>

	<rule ref=".phpcs/NoModelCallSniff.php">
		<exclude-pattern>*/updates/*.php$</exclude-pattern>
	</rule>
</ruleset>
