/* General site layout. */

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #222;
}

.doc-flex {
  display: flex;
  width: calc(100vw - 200px);
}

nav {
  flex: 1 300px;
  border-right: 2px solid;
  padding: 20px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #460cf2;
}

nav a:hover, nav a:active {
  color: #2f157d;
  background-color: #eee;
}

nav span {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 15px;
  display: block;
}

nav span:nth-of-type(1n+2) {
  padding-top: 15px;
}

main {
  padding-left: 20px;
  flex: 1 800px;
}

header {
  width: 100vw;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 36px;
}

footer {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

code {
  font-family: 'Roboto Mono', monospace;
}

/* Files */

.doc-file-name {
  font-size: 12px;
  color: #11853d;
  margin-top: 20px;
}

/* Classes */

.doc-class h3 {
  display: none;
}

/* Methods */

.doc-method {
  border-top: 1px dotted;
  padding-bottom: 20px;
  padding-top: 10px;
}

.doc-method-param {
  padding-bottom: 10px;
}

.doc-method-param tbody tr td:nth-child(1) {
  min-width: 200px;
  padding-right: 10px;
}

.doc-method-param span {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
}

.doc-method-return {
  padding-bottom: 10px;
}

.doc-method-return span {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
}

.doc-method-route {
  padding-bottom: 10px;
}

.doc-method-route .doc-method-code-name {
  min-width: 200px;
  padding-right: 10px;
}

.doc-method-route span {
  display: block;
  font-weight: bold;
  padding-bottom: 10px;
}

.doc-method-code-args {
  color: #11853d;
}

.doc-method-code-name {
  color: #460cf2;
}

.doc-method-code-visibility {
  color: #d63131;
}
