.ansi_color_fg_black { color: #073642 }
.ansi_color_bg_black { background-color: #073642 }
.ansi_color_fg_red { color: #dc322f }
.ansi_color_bg_red { background-color: #dc322f }
.ansi_color_fg_green { color: #859900 }
.ansi_color_bg_green { background-color: #859900 }
.ansi_color_fg_yellow { color: #b58900 }
.ansi_color_bg_yellow { background-color: #b58900 }
.ansi_color_fg_blue { color: #268bd2 }
.ansi_color_bg_blue { background-color: #268bd2 }
.ansi_color_fg_magenta { color: #d33682 }
.ansi_color_bg_magenta { background-color: #d33682 }
.ansi_color_fg_cyan { color: #2aa198 }
.ansi_color_bg_cyan { background-color: #2aa198 }
.ansi_color_fg_white { color: #eee8d5 }
.ansi_color_bg_white { background-color: #eee8d5 }
.ansi_color_fg_brblack { color: #002b36 }
.ansi_color_bg_brblack { background-color: #002b36 }
.ansi_color_fg_brred { color: #cb4b16 }
.ansi_color_bg_brred { background-color: #cb4b16 }
.ansi_color_fg_brgreen { color: #586e75 }
.ansi_color_bg_brgreen { background-color: #586e75 }
.ansi_color_fg_bryellow { color: #657b83 }
.ansi_color_bg_bryellow { background-color: #657b83 }
.ansi_color_fg_brblue { color: #839496 }
.ansi_color_bg_brblue { background-color: #839496 }
.ansi_color_fg_brmagenta { color: #6c71c4 }
.ansi_color_bg_brmagenta { background-color: #6c71c4 }
.ansi_color_fg_brcyan { color: #93a1a1 }
.ansi_color_bg_brcyan { background-color: #93a1a1 }
.ansi_color_fg_brwhite { color: #fdf6e3 }
.ansi_color_bg_brwhite { background-color: #fdf6e3 }        

#cli-options {
    margin-bottom: 0.5rem;
}

#cli-output {
    width: 800px;
    height: 500px;
    overflow-y: scroll;
}

#cli-output p {
    white-space: pre-wrap;
    font-family: monospace;
    margin: 0;
    margin-bottom: 1rem;
}

#cli-output p.error {
    color: red;
}